@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
html{
  overflow-x: hidden;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

header nav {
  font-family: sans-serif;
  text-transform: uppercase;
  background: black;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  color: white;
}

header nav ul li {
  cursor: pointer;
  flex: 1;
  text-align: center;
  line-height: 1.9;
  border-top: solid 2px transparent;
}

header nav ul li:hover {
  border-top-color: lightskyblue;
  color: lightskyblue;
}

header nav ul li .fa {
  color: lightskyblue !important;
}

header nav ul li h6 {
  font-size: .65em;
}

#fp-nav ul li a span {
  color: white;
}

.videoWrapperOuter {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.videoWrapperInner {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}

.videoWrapperInner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  text-align: center;
  color: white;
  font-size: x-large;
  font-family: -webkit-pictograph;
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
   background-color: skyblue;
}

footer a, footer a:visited { color:black; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color:black;
    line-height: 24px;
    font-size: 20px;
    font-family: initial;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }
